$near-black: #0d0d0d;
$near-white: #f6f6f6;

$lightest-grey: #f2f2f2;
$light-grey: #ccc;
$grey: #b3b3b3;
$dark-grey: #161a1f;
$darkest-grey: #0a0d11;

$pokui-green: #06d6a0;
$pokui-blue: #0063b2;
$pokui-red: #f96154;

/* 
  NOTE: $colors list is meant to define theme colors. It is required to use css var() synthax instead of the scss variables.
  To define a color : Add an element to the colors list following this model
    --color-name: (light-color-value, dark-color-value)
  And then use it
    .class {
      background: var(--color-name)
    }
  This may not be the cleanest way.
*/

$colors: (
  --primary-background: (
    $near-white,
    $darkest-grey,
  ),
  --secondary-background: (
    white,
    $dark-grey,
  ),
  --text-color: (
    $near-black,
    $near-white,
  ),
);
