@import "vars";
@import "mixins";
@import "colors";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#home-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .loader-icon {
      animation: rotation 2s infinite linear;
    }
  }

  .list-container {
    flex: 1;
    height: 100%;

    .list-content {
      overflow: scroll;
      height: 90%;

      li {
        background-color: var(--secondary-background);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: $default-border-radius;
        cursor: pointer;
        @include box-shadow();

        .add-favorite-button,
        .remove-favorite-button {
          @include default-button(var(--pokui-blue), $near-white);
        }
      }
    }

    .pagination-container {
      height: 10%;
      display: flex;
      justify-content: center;
    }
  }

  .details-container {
    height: 100%;
    flex: 2;
    justify-content: center;
    overflow: scroll;

    .img-container {
      img {
        width: unset;
      }
    }

    .no-item-selected-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .details-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .abilities-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .abilities-item {
          flex: 0 calc(50% - #{$spacing-basis});
          background-color: var(--secondary-background);
          border-radius: $default-border-radius;
          @include box-shadow();

          @include smartphone {
            flex: 0 100%;
          }
        }
      }
    }
  }
}
