@import "vars";
@import "mixins";
@import "colors";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#home-container {
  display: flex;
  flex-direction: row;
  height: 100%;

  .loader-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .loader-icon {
      animation: rotation 2s infinite linear;
    }
  }

  .list-container {
    flex: 1;
    height: 100%;

    .list-content {
      overflow: scroll;
      height: 90%;
    }

    .pagination-container {
      height: 10%;
      display: flex;
      justify-content: center;
    }
  }

  .details-container {
    flex: 2;
  }

  li {
    background-color: var(--secondary-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: $default-border-radius;
    cursor: pointer;
    @include box-shadow();

    .add-favorite-button,
    .remove-favorite-button {
      @include default-button(var(--pokui-blue), $near-white);
    }
  }
}
