/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap");
// NOTE: 400 regular, italic, 600 semi-bold, 700 bold. use .regular .italic, semi-bold and .bold classes instead of font-weight of font-style

/* NOTE: Every files in src/styles can be import with just its name. For example _vars.scss can be imported with @import "vars"  */
@import "vars";
@import "mixins";
@import "theme";

// Reset
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  position: fixed;
}

body {
  background-color: var(--primary-background);
  max-width: $site-container-width;
  margin: 0 auto;
  @include font-size(16, 16, 14);
  @media (min-width: #{$site-container-width}) {
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
  }
}

h1 {
  @include font-size(28);
  font-weight: $semi-bold-font-weight;
}

h2 {
  @include font-size(22);
}

h3 {
  @include font-size(18);
}

img {
  display: block; // removes white space
  object-fit: cover;
  width: 100%;
}

li {
  list-style: none;
}

a {
  @include link-style($pokui-blue);
}

// Scrollbars
/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

// Display
.hide-xs {
  @include smartphone {
    display: none !important;
  }
}

.hide-md {
  @include tablet {
    display: none !important;
  }
}

.hide-lg {
  @include desktop {
    display: none !important;
  }
}

// Fonts
.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: $bold-font-weight;
}

// Structure
.container {
  width: 100%;
  padding: 0 $spacing-basis * 3;
}

.nav-avoider {
  padding-top: $desktop-nav-height;
  height: 100%;
}

// style
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.no-link-style {
  @include no-link-style();
}
